Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard

rust-clippy:
  name: rust-clippy (frontend)
  language: system
  entry: bash -c 'cd frontend && cargo clippy --quiet'

dom-id-prefix-check:
  name: DOM id prefix rule
  language: system
  ...

contract-field-validation:
  name: Contract field name validation
  language: system
  ...

stylelint:
  name: stylelint (CSS)
  language: node
  entry: npx --no-install stylelint
  pass_filenames: true

prettier:
  name: prettier (CSS/Markdown)
  language: node
  entry: npx --no-install prettier --write

tool-contract-validation:
  name: Tool contract validation
  language: python
  entry: scripts/validate_tool_contracts.py
  additional_dependencies:
  - pyyaml
  pass_filenames: false

pact-contract-coverage:
  name: Pact WebSocket contract coverage validation
  language: system
  entry: bash -c 'cd frontend && ./check_pact_coverage.sh'
  pass_filenames: false

prod-config-guard:
  name: Production config guard (no localhost override)
  language: python
  entry: scripts/validate_prod_frontend_config.py
  pass_filenames: false

Reduce production logging noise by implementing proper log levels
  frontend/build-debug.sh
  frontend/build-only.sh
  frontend/src/network/ws_client_v2.rs
  frontend/src/utils.rs
Due: rust-clippy, contract-field-validation, prod-config-guard

Add comprehensive runtime environment validation system
  Makefile
  backend/start.sh
  backend/validate-runtime.py
  backend/zerg/config/__init__.py
  backend/zerg/main.py
  scripts/validate-deployment.py
Due: none

Implement secure database reset with super admin protection
  .env.example
  backend/tests/test_admin_permissions.py
  backend/zerg/config/__init__.py
  backend/zerg/dependencies/auth.py
  backend/zerg/routers/admin.py
  frontend/src/components/dashboard/mod.rs
  frontend/src/models.rs
  frontend/src/network/api_client.rs
Due: rust-clippy, contract-field-validation

Apply pre-commit formatting fixes
  backend/zerg/routers/admin.py
  frontend/src/components/dashboard/mod.rs
Due: rust-clippy, contract-field-validation

Fix root cause of duplicate reset buttons
  frontend/src/components/dashboard/mod.rs
Due: rust-clippy, contract-field-validation

Fix missing reset button: move admin check to refresh_dashboard
  frontend/src/components/dashboard/mod.rs
Due: rust-clippy, contract-field-validation

Properly fix reset button: follow standard UI pattern
  frontend/src/components/dashboard/mod.rs
  frontend/src/messages.rs
  frontend/src/state.rs
  frontend/src/update.rs
Due: rust-clippy, contract-field-validation

admin(reset): harden Postgres resets and move UI to Admin Ops
  backend/zerg/routers/admin.py
  frontend/src/components/dashboard/mod.rs
  frontend/src/components/ops/mod.rs
  frontend/www/css/ops.css
Due: rust-clippy, contract-field-validation

fix(advisory-locks): PostgreSQL-only concurrency and critical bug fixes
  backend/tests/conftest.py
  backend/tests/test_agent_locks.py
  backend/tests/test_agent_state_recovery.py
  backend/tests/test_single_run_guard.py
  backend/zerg/crud/crud.py
  backend/zerg/main.py
  backend/zerg/services/agent_locks.py
  backend/zerg/services/agent_state_recovery.py
  backend/zerg/services/task_runner.py
  pyproject.toml
Due: none

fix(enums): eliminate duplicate RunStatus definitions
  backend/zerg/crud/crud.py
  backend/zerg/schemas/schemas.py
  backend/zerg/services/agent_state_recovery.py
Due: none

feat(type-safety): implement full frontend-backend type safety
  frontend/src/components/dashboard/mod.rs
  frontend/src/generated/api_contracts.rs
  frontend/src/tests/contract_validation_test.rs
Due: rust-clippy, contract-field-validation

fix(build): repair pyproject.toml build configuration
  pyproject.toml
  uv.lock
Due: none

fix(database): handle connection termination errors during session cleanup
  backend/zerg/database.py
Due: none

fix(admin): improve database reset reporting to show accurate row counts
  backend/zerg/routers/admin.py
Due: none

Path conditions:
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$
