Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard

rust-clippy:
  name: rust-clippy (frontend)
  language: system
  entry: bash -c 'cd frontend && cargo clippy --quiet'

dom-id-prefix-check:
  name: DOM id prefix rule
  language: system
  ...

contract-field-validation:
  name: Contract field name validation
  language: system
  ...

stylelint:
  name: stylelint (CSS)
  language: node
  entry: npx --no-install stylelint
  pass_filenames: true

prettier:
  name: prettier (CSS/Markdown)
  language: node
  entry: npx --no-install prettier --write

tool-contract-validation:
  name: Tool contract validation
  language: python
  entry: scripts/validate_tool_contracts.py
  additional_dependencies:
  - pyyaml
  pass_filenames: false

pact-contract-coverage:
  name: Pact WebSocket contract coverage validation
  language: system
  entry: bash -c 'cd frontend && ./check_pact_coverage.sh'
  pass_filenames: false

prod-config-guard:
  name: Production config guard (no localhost override)
  language: python
  entry: scripts/validate_prod_frontend_config.py
  pass_filenames: false

frontend: PR1 – typed trigger meta + safe visual updates
  frontend/src/components/node_palette.rs
  frontend/src/models.rs
  frontend/src/reducers/canvas.rs
  frontend/src/storage.rs
  frontend/src/typed_trigger_meta_tests.rs
Due: rust-clippy, contract-field-validation, tool-contract-validation

frontend: PR2 – NodeBuilder + invariant guard
  frontend/src/components/node_palette.rs
  frontend/src/lib.rs
  frontend/src/node_builder.rs
  frontend/src/reducers/canvas.rs
  frontend/src/tests/node_builder_and_invariant_tests.rs
Due: rust-clippy, contract-field-validation, tool-contract-validation

frontend: PR3 – migration polish + contract glue touchpoint
  frontend/src/models.rs
  frontend/src/update.rs
Due: rust-clippy, contract-field-validation

frontend: contract glue – normalize canvas payloads
  frontend/src/network/api_client.rs
  frontend/src/network/contract_glue.rs
  frontend/src/network/generated_client.rs
  frontend/src/network/mod.rs
Due: rust-clippy, contract-field-validation

frontend: contract glue test – ensure typed trigger meta flattened and type mapped
  backend/zerg/schemas/workflow.py
  frontend/src/tests/contract_glue_tests.rs
Due: rust-clippy, contract-field-validation

Add Alembic database migrations
  backend/Dockerfile
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/458f9a6a8779_initial_schema_baseline.py
  backend/alembic/versions/70b7ee2edc1c_add_missing_updated_at_column_to_.py
  backend/pyproject.toml
  backend/start.sh
  backend/uv.lock
Due: none

Add debugging to migration startup script
  backend/start.sh
Due: none

Add proper migration logging and monitoring
  backend/start.sh
  backend/zerg/routers/admin.py
Due: none

Add comprehensive migration logging and monitoring
  backend/start.sh
  backend/zerg/main.py
Due: none

Add direct database schema fix endpoint
  backend/zerg/routers/admin.py
Due: none

Fix: Use start.sh script in production dockerfile
  docker/backend.dockerfile
Due: none

Remove duplicate Dockerfile - use docker/backend.dockerfile as source of truth
  backend/Dockerfile
Due: none

Reduce production logging noise by implementing proper log levels
  frontend/build-debug.sh
  frontend/build-only.sh
  frontend/src/network/ws_client_v2.rs
  frontend/src/utils.rs
Due: rust-clippy, contract-field-validation, prod-config-guard

Path conditions:
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$
