Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-contract-validation, empty-schema-detection, rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard, forbid-legacy-trigger-keys, forbid-direct-node-config-assignment

Path conditions:
  frontend-contract-validation: any of: ^(frontend-web/src/.*\.(ts|tsx)|backend/zerg/routers/.*\.py|openapi\.json)$
  empty-schema-detection: any of: ^openapi\.json$
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$
  forbid-legacy-trigger-keys: any of: ^frontend/src/
  forbid-direct-node-config-assignment: any of: ^frontend/src/

fix(e2e): add React UI authentication support for E2E tests
  backend/zerg/routers/auth.py
  frontend-web/src/lib/auth.tsx
  frontend-web/src/lib/config.ts
Due: frontend-contract-validation

fix(build): add SPA routing and correct asset paths for React UI
  frontend-web/index.html
  frontend-web/vite.config.ts
  frontend/build-debug.sh
  frontend/www/server.py
Due: rust-clippy, contract-field-validation, prod-config-guard

fix(frontend): fix admin page layout and add database management UI
  frontend-web/src/components/Layout.tsx
  frontend-web/src/pages/AdminPage.tsx
  frontend-web/src/styles/css/canvas.css
  frontend-web/src/styles/layout.css
  frontend-web/src/styles/profile-admin.css
Due: frontend-contract-validation

fix(frontend-web): correct asset paths for production deployment
  frontend-web/Dockerfile
  frontend-web/index.html
  frontend-web/vite.config.ts
Due: none

fix(auth): hide dev login button in production
  frontend-web/src/lib/auth.tsx
Due: frontend-contract-validation

feat(admin): add super admin status fetching and conditional password requirement
  frontend-web/src/pages/AdminPage.tsx
Due: frontend-contract-validation

fix(frontend-web): add missing config.js for production WebSocket configuration
  frontend-web/public/config.js
Due: none

fix(frontend-web): prevent WebSocket connection spam on auth failure
  frontend-web/src/lib/config.ts
  frontend-web/src/lib/useWebSocket.tsx
  frontend-web/src/pages/DashboardPage.tsx
Due: frontend-contract-validation

fix(frontend-web): eliminate configuration duplication and dead code
  frontend-web/src/lib/auth.tsx
  frontend-web/src/lib/useWebSocket.tsx
  frontend-web/src/pages/AdminPage.tsx
  frontend-web/src/pages/ChatPage.tsx
  frontend-web/src/pages/__tests__/AdminPage.test.tsx
  frontend-web/src/routes/App.tsx
Due: frontend-contract-validation

feat(jarvis): Phase 1 - Implement Jarvis control plane API endpoints
  apps/zerg/backend/zerg/config/__init__.py
  apps/zerg/backend/zerg/main.py
  apps/zerg/backend/zerg/routers/jarvis.py
Due: none

feat(jarvis): Phase 2 - Implement dispatch and SSE integration
  apps/zerg/backend/zerg/models/models.py
  apps/zerg/backend/zerg/routers/jarvis.py
Due: none
