Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard

rust-clippy:
  name: rust-clippy (frontend)
  language: system
  entry: bash -c 'cd frontend && cargo clippy --quiet'

dom-id-prefix-check:
  name: DOM id prefix rule
  language: system
  ...

contract-field-validation:
  name: Contract field name validation
  language: system
  ...

stylelint:
  name: stylelint (CSS)
  language: node
  entry: npx --no-install stylelint
  pass_filenames: true

prettier:
  name: prettier (CSS/Markdown)
  language: node
  entry: npx --no-install prettier --write

tool-contract-validation:
  name: Tool contract validation
  language: python
  entry: scripts/validate_tool_contracts.py
  additional_dependencies:
  - pyyaml
  pass_filenames: false

pact-contract-coverage:
  name: Pact WebSocket contract coverage validation
  language: system
  entry: bash -c 'cd frontend && ./check_pact_coverage.sh'
  pass_filenames: false

prod-config-guard:
  name: Production config guard (no localhost override)
  language: python
  entry: scripts/validate_prod_frontend_config.py
  pass_filenames: false

test: route playwright workers through sqlalchemy backend
  backend/zerg/core/config.py
  backend/zerg/core/test_configs.py
  backend/zerg/dependencies/auth.py
  backend/zerg/middleware/worker_db.py
Due: none

feat: scaffold react layout and canvas for playwright
  e2e/tests/fixtures.ts
  frontend-web/src/components/Layout.tsx
  frontend-web/src/pages/CanvasPage.tsx
  frontend-web/src/pages/DashboardPage.tsx
  frontend-web/src/routes/App.tsx
  frontend-web/src/services/api.ts
  frontend-web/src/styles/layout.css
Due: none

feat(react): align pilot with legacy UI styling
  frontend-web/src/components/Layout.tsx
  frontend-web/src/main.tsx
  frontend-web/src/pages/CanvasPage.tsx
  frontend-web/src/pages/ChatPage.tsx
  frontend-web/src/pages/DashboardPage.tsx
  frontend-web/src/routes/App.tsx
  frontend-web/src/services/api.ts
  frontend-web/src/styles/legacy.css
  frontend-web/tsconfig.base.json
Due: none

build: serve react bundle alongside rust dev server
  .gitignore
  frontend-web/vite.config.ts
  frontend/build-debug.sh
  frontend/www/ui-switch.html
  package-lock.json
  package.json
Due: rust-clippy, contract-field-validation, prod-config-guard

docs: expand react migration playbook
  docs/react_dashboard_migration.md
Due: none

feat: enhance dashboard metrics and lint config
  frontend-web/.eslintrc.cjs
  frontend-web/eslint.config.js
  frontend-web/package.json
  frontend-web/src/pages/CanvasPage.tsx
  frontend-web/src/pages/ChatPage.tsx
  frontend-web/src/pages/DashboardPage.tsx
  frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  frontend-web/src/services/api.ts
  frontend-web/src/styles/dashboard.css
  frontend-web/src/types/global.d.ts
  package-lock.json
Due: none

fix: normalize API base handling for dev ports
  frontend-web/src/services/api.ts
Due: none

chore: fix css comment syntax for dashboard status
  frontend/www/css/status.css
Due: rust-clippy, contract-field-validation

fix: load shared config.js before React entry
  frontend-web/index.html
Due: none

fix: resolve React dashboard API connectivity issues
  frontend-web/src/services/api.ts
  frontend/build-debug.sh
Due: rust-clippy, contract-field-validation, prod-config-guard

build: add openapi client types and vitest wrapper
  frontend-web/package.json
  frontend-web/scripts/run-vitest.mjs
  frontend-web/src/generated/openapi-types.ts
  frontend-web/src/pages/ChatPage.tsx
  frontend-web/src/pages/__tests__/ChatPage.test.tsx
  frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  frontend-web/src/services/api.ts
  package-lock.json
Due: none

Align React dashboard with legacy layout
  docs/react_dashboard_migration.md
  e2e/tests/dashboard.parity.spec.ts
  e2e/visual-baseline/dashboard-legacy.png
  frontend-web/src/pages/DashboardPage.tsx
  frontend-web/src/pages/__tests__/DashboardPage.test.tsx
  frontend-web/src/pages/__tests__/__fixtures__/legacy-dashboard.html
  frontend-web/src/styles/dashboard.css
Due: none

Backfill trigger metadata for legacy workflows
  backend/tests/test_trigger_meta_reader.py
  backend/zerg/schemas/workflow.py
Due: none

Align React dashboard with legacy layout
  frontend-web/src/pages/DashboardPage.tsx
Due: none

feat: add AI-powered visual testing framework
  .gitignore
  backend/pyproject.toml
  backend/uv.lock
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.js
  e2e/tests/visual-ui-comparison.spec.ts
  e2e/utils/ai-visual-analyzer.ts
  e2e/utils/openai-vision-test.js
Due: none

Path conditions:
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$
