Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard

Path conditions:
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$

fix: eliminate duplicate manual trigger creation race condition
  frontend/src/reducers/canvas.rs
  frontend/src/state.rs
  frontend/src/trigger_invariants_tests.rs
  frontend/src/update.rs
Due: rust-clippy, contract-field-validation

feat: implement backend template system for workflow creation
  backend/seed_minimal_template.py
  backend/zerg/crud/crud.py
  backend/zerg/routers/workflows.py
  backend/zerg/schemas/schemas.py
  frontend/src/network/api_client.rs
  frontend/src/state.rs
  frontend/src/trigger_invariants_tests.rs
  frontend/src/update.rs
Due: rust-clippy, contract-field-validation

fix: enhance environment variable handling for E2E tests
  backend/zerg/config/__init__.py
Due: none

fix: correct WorkflowTemplate tags field type to prevent ORM errors
  backend/seed_minimal_template.py
  backend/zerg/models/models.py
Due: none

refactor: clean database rebuild with proper ORM patterns
  backend/seed_minimal_template.py
Due: none

Format fixes from pre-commit (ruff-format).
  backend/zerg/routers/ops.py
  backend/zerg/services/ops_service.py
  frontend/src/components/ops/mod.rs
  frontend/www/css/ops.css
Due: rust-clippy, contract-field-validation

feat: add Discord notification for new user signups
  backend/zerg/crud/crud.py
  backend/zerg/services/ops_discord.py
  frontend/build-debug.sh
  frontend/build-only.sh
Due: rust-clippy, contract-field-validation, prod-config-guard

add tests for ops date button regressions
  backend/tests/test_ops_service.py
  backend/zerg/services/ops_service.py
  pyproject.toml
Due: none

feat(email): connector-first refactor with Gmail webhook + providers
  backend/tests/conftest.py
  backend/tests/test_email_trigger_service.py
  backend/tests/test_gmail_watch_initialisation.py
  backend/tests/test_gmail_watch_renewal.py
  backend/tests/test_gmail_webhook_history_progress.py
  backend/tests/test_gmail_webhook_trigger.py
  backend/tests/test_trigger_delete_cleanup.py
  backend/zerg/crud/crud.py
  backend/zerg/database.py
  backend/zerg/email/providers.py
  backend/zerg/main.py
  backend/zerg/models/models.py
  backend/zerg/routers/auth.py
  backend/zerg/routers/email_webhooks.py
  backend/zerg/routers/triggers.py
Due: none

chore(email): make Gmail webhook async and harden connectors schema
  backend/zerg/models/models.py
  backend/zerg/routers/email_webhooks.py
Due: none

security(email): harden Gmail connect callback handling
  backend/zerg/config/__init__.py
  backend/zerg/routers/auth.py
  backend/zerg/routers/system.py
Due: none

style: fix ruff line length in connectors router
  backend/zerg/main.py
  backend/zerg/routers/connectors.py
Due: none

chore(triggers): validate trigger type against allowlist (webhook,email)
  backend/zerg/routers/triggers.py
Due: none

style: format auth.py after uniqueness race handler (second attempt)
  backend/zerg/routers/auth.py
Due: none
