Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-contract-validation, empty-schema-detection, rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard, forbid-legacy-trigger-keys, forbid-direct-node-config-assignment

frontend-contract-validation:
  name: Frontend API Contract Validation
  entry: bash -c 'cd frontend-web && npm run validate:contracts'
  language: system
  pass_filenames: false

empty-schema-detection:
  name: Empty OpenAPI Schema Detection
  entry: scripts/check-empty-schemas.sh
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy (frontend)
  language: system
  entry: bash -c 'cd frontend && cargo clippy --quiet'

dom-id-prefix-check:
  name: DOM id prefix rule
  language: system
  entry: bash -c "grep -R --line-number --perl-regexp 'id=\"(?!agent-|workflow-|global-|dashboard-|canvas-|profile-|chat-|auth-|user-|modal-|node-|tabs-)\"' frontend/src | if read var; then echo '✖ Non-namespaced DOM id detected:'; echo \"$var\"; exit 1; fi"
  ...

contract-field-validation:
  name: Contract field name validation
  language: system
  ...

stylelint:
  name: stylelint (CSS)
  language: node
  entry: npx --no-install stylelint
  pass_filenames: true

prettier:
  name: prettier (CSS/Markdown)
  language: node
  entry: npx --no-install prettier --write

tool-contract-validation:
  name: Tool contract validation
  language: python
  entry: scripts/validate_tool_contracts.py
  additional_dependencies:
  - pyyaml
  pass_filenames: false

pact-contract-coverage:
  name: Pact WebSocket contract coverage validation
  language: system
  entry: bash -c 'cd frontend && ./check_pact_coverage.sh'
  pass_filenames: false

prod-config-guard:
  name: Production config guard (no localhost override)
  language: python
  entry: scripts/validate_prod_frontend_config.py
  pass_filenames: false

forbid-legacy-trigger-keys:
  name: Forbid legacy trigger keys in source
  language: system
  entry: scripts/check_legacy_triggers.sh
  pass_filenames: false

forbid-direct-node-config-assignment:
  name: Forbid direct node.config = … outside constructors
  language: system
  ...

fix(frontend-web): resolve TypeScript compilation errors blocking production build
  frontend-web/src/pages/CanvasPage.tsx
Due: frontend-contract-validation

fix(frontend-web): resolve npm dependency conflicts in Docker build
  frontend-web/Dockerfile
Due: none

chore: cleanup package-lock.json conflicts for Docker build
  frontend-web/package-lock.json
  package-lock.json
Due: none

fix(frontend-web): add missing lib/ directory blocked by gitignore
  .gitignore
  frontend-web/src/lib/auth.tsx
  frontend-web/src/lib/config.ts
  frontend-web/src/lib/usePerformance.tsx
  frontend-web/src/lib/useWebSocket.tsx
Due: frontend-contract-validation

fix(frontend-web): resolve CSS import paths for Docker build
  frontend-web/src/styles/chat.css
  frontend-web/src/styles/css/agent_shelf.css
  frontend-web/src/styles/css/buttons.css
  frontend-web/src/styles/css/canvas.css
  frontend-web/src/styles/css/components/buttons.css
  frontend-web/src/styles/css/components/disclosure.css
  frontend-web/src/styles/css/components/execution-results.css
  frontend-web/src/styles/css/components/modals.css
  frontend-web/src/styles/css/dashboard.css
  frontend-web/src/styles/css/execution_results.css
  frontend-web/src/styles/css/forms.css
  frontend-web/src/styles/css/mcp.css
  frontend-web/src/styles/css/modal.css
  frontend-web/src/styles/css/nav.css
  frontend-web/src/styles/css/ops.css
  frontend-web/src/styles/css/particle.css
  frontend-web/src/styles/css/status.css
  frontend-web/src/styles/css/toast.css
  frontend-web/src/styles/css/tool_config_modal.css
  frontend-web/src/styles/css/util.css
  frontend-web/src/styles/layout.css
  frontend-web/src/styles/legacy.css
  frontend-web/src/styles/run_button.css
  frontend-web/src/styles/styles.css
  frontend-web/src/styles/tokens.css
Due: none

fix(frontend-web): restore visual parity with original Rust implementation
  frontend-web/index.html
  frontend-web/src/components/Layout.tsx
Due: frontend-contract-validation

fix(frontend-web): resolve critical Canvas page layout disaster
  frontend-web/src/components/Layout.tsx
  frontend-web/src/pages/CanvasPage.tsx
Due: frontend-contract-validation

fix(frontend-web): restore missing data-testid for E2E compatibility
  frontend-web/src/pages/CanvasPage.tsx
Due: frontend-contract-validation

fix(frontend-web): add E2E test compatibility layer for Canvas React Flow
  e2e/tests/agent_response.spec.ts
  e2e/tests/canvas_workflows.spec.ts
  e2e/tests/chat_debug.spec.ts
  e2e/tests/chat_functional.spec.ts
  e2e/tests/fixtures.ts
  e2e/tests/template_gallery.spec.ts
  e2e/tests/thread_chat.spec.ts
  e2e/tests/workflow_execution.spec.ts
Due: none

fix(frontend-web): resolve Canvas E2E compatibility issues
  frontend-web/src/pages/CanvasPage.tsx
  frontend-web/src/styles/canvas-react.css
Due: frontend-contract-validation

fix(frontend-web): implement proper E2E drag-drop compatibility for Canvas
  frontend-web/src/pages/CanvasPage.tsx
Due: frontend-contract-validation

fix(e2e): add React UI authentication support for E2E tests
  e2e/tests/fixtures.ts
Due: none

fix(build): add SPA routing and correct asset paths for React UI
  frontend-web/index.html
  frontend-web/vite.config.ts
  frontend/build-debug.sh
  frontend/www/server.py
Due: rust-clippy, contract-field-validation, prod-config-guard

fix(e2e): add React UI authentication support for E2E tests
  backend/zerg/routers/auth.py
  frontend-web/src/lib/auth.tsx
  frontend-web/src/lib/config.ts
Due: frontend-contract-validation

fix(frontend): fix admin page layout and add database management UI
  frontend-web/src/components/Layout.tsx
  frontend-web/src/pages/AdminPage.tsx
  frontend-web/src/styles/css/canvas.css
  frontend-web/src/styles/layout.css
  frontend-web/src/styles/profile-admin.css
Due: frontend-contract-validation

Path conditions:
  frontend-contract-validation: any of: ^(frontend-web/src/.*\.(ts|tsx)|backend/zerg/routers/.*\.py|openapi\.json)$
  empty-schema-detection: any of: ^openapi\.json$
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$
  forbid-legacy-trigger-keys: any of: ^frontend/src/
  forbid-direct-node-config-assignment: any of: ^frontend/src/
