Repository cipher982/zerg: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-clippy, dom-id-prefix-check, contract-field-validation, stylelint, prettier, tool-contract-validation, pact-contract-coverage, prod-config-guard

rust-clippy:
  name: rust-clippy (frontend)
  language: system
  entry: bash -c 'cd frontend && cargo clippy --quiet'

dom-id-prefix-check:
  name: DOM id prefix rule
  language: system
  ...

contract-field-validation:
  name: Contract field name validation
  language: system
  ...

stylelint:
  name: stylelint (CSS)
  language: node
  entry: npx --no-install stylelint
  pass_filenames: true

prettier:
  name: prettier (CSS/Markdown)
  language: node
  entry: npx --no-install prettier --write

tool-contract-validation:
  name: Tool contract validation
  language: python
  entry: scripts/validate_tool_contracts.py
  additional_dependencies:
  - pyyaml
  pass_filenames: false

pact-contract-coverage:
  name: Pact WebSocket contract coverage validation
  language: system
  entry: bash -c 'cd frontend && ./check_pact_coverage.sh'
  pass_filenames: false

prod-config-guard:
  name: Production config guard (no localhost override)
  language: python
  entry: scripts/validate_prod_frontend_config.py
  pass_filenames: false

feat(frontend): align triggers with connector-first Gmail flow
  frontend/src/auth/google_code_flow.rs
  frontend/src/components/agent_config_modal.rs
  frontend/src/messages.rs
  frontend/src/network/api_client.rs
  frontend/src/reducers/triggers.rs
  frontend/src/state.rs
Due: rust-clippy, contract-field-validation

docs: add PRD for Email Connector-First Integration (Gmail) – context, progress, next steps
  docs/email_connector_prd.md
Due: none

fix(connectors): resolve critical issues in connector API and error handling
  backend/tests/test_connectors_api.py
  backend/zerg/metrics.py
  backend/zerg/routers/connectors.py
  backend/zerg/routers/email_webhooks.py
Due: none

feat(email): implement Pub/Sub endpoint for Gmail push notifications
  backend/zerg/main.py
  backend/zerg/routers/auth.py
  backend/zerg/routers/email_webhooks_pubsub.py
Due: none

feat(metrics): add observability gauges for Gmail connectors
  backend/zerg/email/providers.py
  backend/zerg/metrics.py
  backend/zerg/routers/email_webhooks_pubsub.py
Due: none

feat(email): implement connector-level Gmail watch renewal service
  backend/zerg/main.py
  backend/zerg/services/watch_renewal_service.py
Due: none

test(email): add comprehensive testing infrastructure for email integrations
  backend/docs/email_testing_guide.md
  backend/scripts/test_gmail_integration.py
  backend/tests/test_gmail_webhook_history_progress.py
  backend/tests/test_gmail_webhook_trigger.py
  backend/tests/test_pubsub_webhook.py
  backend/zerg/routers/email_webhooks_pubsub.py
Due: none

fix(email): mount Pub/Sub webhook under /api/email/webhook/google/pubsub via router prefix
  backend/zerg/routers/email_webhooks_pubsub.py
Due: none

feat(config): add PUBSUB_AUDIENCE setting for Gmail Pub/Sub OIDC validation
  backend/zerg/config/__init__.py
Due: none

feat(email): support Pub/Sub topic in gmail_api.start_watch; wire connect + renewal to use GMAIL_PUBSUB_TOPIC when set
  backend/zerg/config/__init__.py
  backend/zerg/routers/auth.py
  backend/zerg/services/gmail_api.py
  backend/zerg/services/watch_renewal_service.py
Due: none

chore(deps): add PyJWT for Pub/Sub OIDC verification; update .env.example with GMAIL_PUBSUB_TOPIC/PUBSUB_AUDIENCE
  .env.example
  backend/pyproject.toml
Due: none

security(email): relax Pub/Sub OIDC email check; use PUBSUB_SA_EMAIL if set, else allow any gserviceaccount.com
  backend/zerg/config/__init__.py
  backend/zerg/routers/email_webhooks_pubsub.py
Due: none

fix(frontend): improve trigger node persistence and metadata handling
  backend/uv.lock
  frontend/src/components/node_palette.rs
  frontend/src/models.rs
  frontend/src/update.rs
  scripts/validate_tool_contracts.py
Due: rust-clippy, contract-field-validation, tool-contract-validation

frontend: PR1 – typed trigger meta + safe visual updates
  frontend/src/components/node_palette.rs
  frontend/src/models.rs
  frontend/src/reducers/canvas.rs
  frontend/src/storage.rs
  frontend/src/typed_trigger_meta_tests.rs
Due: rust-clippy, contract-field-validation, tool-contract-validation

Path conditions:
  rust-clippy: any of: ^frontend/
  dom-id-prefix-check: any of: ^asyncapi/
  contract-field-validation: any of: ^frontend/
  stylelint: any of: \.css$ and \.scss$
  prettier: any of: \.css$ and \.scss$ and \.(md|markdown|mdown)$
  tool-contract-validation: any of: ^(asyncapi/tools\.yml|backend/zerg/tools/builtin/.*\.py|frontend/src/components/node_palette\.rs)$
  pact-contract-coverage: any of: ^(frontend/src/network/ws_schema\.rs|frontend/src/bin/contract_capture\.rs|backend/zerg/websocket/).*$
  prod-config-guard: any of: ^frontend/(build-only\.sh|build-debug\.sh)$
